.bgpic{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 30vh;
}
.inorup{
  margin: 20vh auto 5vh auto;
  text-align: center;
  position: relative;
}
.inup{
  width: 25vw;
}
.form{
  position: relative;
  margin: auto !important;
  font-size: medium;
}

td {
  padding-left: 8px;
}
.input{
  margin: auto;
  width: 75vw;
  display: inline-block;
  padding: 0vh;
  border-radius: 25px;
}
mat-icon{
  color: cornflowerblue;
  padding: 0px 5px;
}
.radiobtn{
  margin: auto;
  padding: 0 .1vw;
}
.fontsize {
  font-size: medium;
  font-weight: lighter;
}
.fontsize2{
  font-size: medium;
  font-weight: lighter;
  padding: 10px;
}

.mybtn{
  position: relative;
  margin: 5vh auto !important;
  width: 100%;
}
.activephone{
  color: white;
}
